<header>
    订餐
    <button class="header-left btn-4" style="margin-top: 5px">Back</button>
</header>
<div class="wrapper">
    <p>人：</p>
    <div class="well"></div>
    <button class="btn btn-2" style="margin: 5px 10px;line-height: 35px">选人</button>
    <p>餐厅：</p>
    <div class="well"></div>
    <button class="btn btn-2" style="margin: 5px 10px;line-height: 35px">选餐厅</button>
    <p>套餐：</p>
    <div class="well"></div>
    <button class="btn btn-2" style="margin: 5px 10px;line-height: 35px">选套餐</button>
    <button class="btn btn-2" style="margin: 5px 10px;line-height: 35px">确认</button>
</div>