<header class="header">
    订餐
    <button class="btn btn-primary header-left" >Back</button>
</header>
<div class="wrapper">
    <h4>人：</h4>
    <div class="well"></div>
    <button class="btn btn-default btn-lg btn-block"  ng-click="choose_people()">选人</button>
    <h4>餐厅：</h4>
    <div class="well"></div>
    <button class="btn btn-default btn-lg btn-block"  ng-click="choose_restaurant()">选餐厅</button>
    <h4>套餐：</h4>
    <div class="well"></div>
    <button class="btn btn-default btn-lg btn-block"  ng-click="choose_package()">选套餐</button>
    <button class="btn btn-default btn-lg btn-block"  ng-click="confirm_order()">确认</button>
</div>