<div id='order_details_page'>
    <header class="header">
        订餐
        <button class="btn btn-primary header-left" ng-click='back_to_main()'>Back</button>
    </header>
    <div class="wrapper">
        <h4>人：</h4>
        <div class="well">{{person_name}}</div>
        <button class="btn btn-default btn-lg btn-block" ng-click="choose_people()">选人</button>
        <h4>餐厅：</h4>
        <div class="well">{{restaurant_name}}</div>
        <button class="btn btn-default btn-lg btn-block" ng-click="choose_restaurants()">选餐厅</button>
        <h4>套餐：</h4>
        <div class="well">{{food_name}}</div>
        <button class="btn btn-default btn-lg btn-block" ng-click="choose_foods()" ng-disabled='choosed_restaurant'>
            选套餐
        </button>
        <button class="btn btn-default btn-lg btn-block" ng-click="confirm_order()" ng-disabled='choosed_all_infomation'
                ng-click='confirm_order()'>确认
        </button>
    </div>
</div> 